.app {
  background-color: #F5F0EE;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1em;
  vertical-align: middle;
  background-color: #24292e;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}

.search {
  width: 35%;
  height: 39px;
  padding: 6px 1em;
  font-size: 15px;
  color: #353535;
  border: solid 1px lightgray;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: border .25s;
}

.search:focus {
  border: solid 1px royalblue;
}

.search-button {
  cursor: pointer;
  height: 39px;
  padding: 0 1.5em;
  font-size: 15px;
  background-color: royalblue;
  color: white;
  border: solid 1px royalblue;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.loader {
  position: absolute;
  margin: auto;
  height: 120px;
  width: 120px;
  top: -30%;
  bottom: 0;
  left: 0;
  right: 0;
}

.no-results {
  text-align: center;
  color: dimgray;
  position: absolute;
  margin: auto;
  height: 120px;
  width: 300px;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
}

.repo-results {
  display: grid;
  margin: 0 auto;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
}

.repo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 2em;
  background-color: white;
  border-radius: 4px;
  border: solid 1px lightgray;
  transform: scale(1);
  transition: transform .25s;
}

.repo-card:hover {  
  transform: scale(1.03);
}

.repo-title {
  padding-bottom: 1.5em;
  border-bottom: solid 1px lightgray;
}

.repo-desc {
  margin-top: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.repo-language {
  margin-right: 6px;
}

.stargazers {
  justify-self: flex-end;
}

.details {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 35%;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  border-radius: 4px;
  border: solid 1px lightgray;
}