* {
  box-sizing: border-box;
}

body,
input {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: inline;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: lightblue;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
}

h1 {
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
}

a {
  color: royalblue;
  text-decoration: none;
  margin-bottom: 1em;
}

input,
button {
  outline: none;
  border: none;
}

img {
  margin: 0;
}